@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-900: 222 14% 13%;
    --gray-800: 224 14% 25%;
    --gray-700: 222 14% 35%;
    --gray-600: 222 9% 48%;
    --gray-500: 220 11% 60%;
    --gray-400: 225 10% 67%;
    --gray-300: 228 12% 75%;
    --gray-200: 225 12% 83%;
    --gray-100: 225 19% 93%;
    --gray-50: 210 33% 97%;

    --primary-900: 14 69% 14%;
    --primary-800: 14 65% 24%;
    --primary-700: 14 65% 36%;
    --primary-600: 15 65% 48%;
    --primary-500: 14 100% 61%;
    --primary-400: 15 100% 68%;
    --primary-300: 14 100% 76%;
    --primary-200: 16 100% 91%;
    --primary-100: 16 69% 95%;

    --secondary-900: 242 52% 13%;
    --secondary-800: 242 52% 26%;
    --secondary-700: 243 53% 39%;
    --secondary-600: 243 57% 52%;
    --secondary-500: 242 98% 65%;
    --secondary-400: 243 97% 72%;
    --secondary-300: 243 98% 79%;
    --secondary-200: 242 96% 90%;
    --secondary-100: 242 100% 96%;

    --success-900: 126 69% 9%;
    --success-800: 126 69% 18%;
    --success-700: 127 69% 26%;
    --success-600: 126 69% 35%;
    --success-500: 126 68% 44%;
    --success-400: 126 54% 55%;
    --success-300: 127 53% 66%;
    --success-200: 126 40% 83%;
    --success-100: 126 59% 93%;

    --warning-900: 30 79% 11%;
    --warning-800: 30 79% 22%;
    --warning-700: 30 78% 34%;
    --warning-600: 30 78% 45%;
    --warning-500: 30 79% 22%;
    --warning-400: 30 79% 22%;
    --warning-300: 30 99% 74%;
    --warning-200: 30 98% 82%;
    --warning-100: 30 100% 95%;

    --danger-900: 0 53% 12%;
    --danger-800: 0 54% 23%;
    --danger-700: 0 54% 35%;
    --danger-600: 0 54% 46%;
    --danger-500: 0 74% 66%;
    --danger-400: 0 74% 14%;
    --danger-300: 0 67% 87%;
    --danger-200: 0 67% 87%;
    --danger-100: 0 100% 97%;

    --background: 0 0% 100%;
    --foreground: var(--gray-900);

    --card: 0 0% 100%;
    --card-foreground: var(--gray-900);

    --popover: 0 0% 100%;
    --popover-foreground: var(--gray-900);

    --primary: var(--primary-500);
    --primary-foreground: 0 0% 100%;

    --secondary: var(--secondary-500);
    --secondary-foreground: 0 0% 100%;

    --muted: var(--secondary-500);
    --muted-foreground: 0 0% 100%;

    --accent: var(--secondary-500);
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: var(--primary-500);
    --input: var(--primary-500);
    --ring: var(--primary-600);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
